:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.game-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 1rem solid hotpink;
  color: brown;
  /*background-color: whitesmoke; */
  margin: 0.5rem;
  padding: 1rem;
  width: 100%;
}

.new-card-faceup {
  display: flex;
  justify-content: center;
  list-style: none;
  border: 0.5% solid black;
  color: red;
}

.player-1-faceup {
  display: flex;
  justify-content: center;
  list-style: none;
  border: 0.5% solid black;
  color: red;
}
.deal {
  display: flex;
  align-items: center;
  width: auto;
  color: blue;
}

@media only screen and(min-width: 700px) {
  .game-name {
    font-size: 2rem;
    color: purple;
    width: 33%;
  }
}
